@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="row">
    <div class="col-md-6 marg article-image" style="background-image:url(http://science-all.com/images/wallpapers/picture/picture-10.jpg);">
        <div class="article-1"><a class="article-gradient"></a></div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 marg article-image" style="background-image:url(../../Content/Images/Tweak/tweaklogo_new.png)">
                <div class="article-2">
                </div>
            </div>
            <div class="col-md-6 marg article-image" style="background-image:url(../../Content/Images/Tweak/tweaklogo_new.png)">
                <div class="article-3">
                    <a class="article-gradient"></a>
                </div>
            </div>
            <div class="col-md-6 marg article-image" style="background-image:url(../../Content/Images/Tweak/tweaklogo_new.png)">
                <div class="article-4">
                    <a class="article-gradient"></a>
                </div>
            </div>
        </div>
    </div>
</div>


@* Small-Article *@
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3">
                <div style="background-color:black; height:13vh">dasdadsda</div>
                <div style="background-color:pink; height:17vh">dasdadsda</div>
            </div>
            <div class="col-md-3">
                <div style="background-color:black; height:13vh">dasdadsda</div>
                <div style="background-color:pink; height:17vh">dasdadsda</div>
            </div>
            <div class="col-md-3">
                <div style="background-color:black; height:13vh">dasdadsda</div>
                <div style="background-color:pink; height:17vh">dasdadsda</div>
            </div>
            <div class="col-md-3">
                <div style="background-color:black; height:13vh">dasdadsda</div>
                <div style="background-color:pink; height:17vh">dasdadsda</div>
            </div>
        </div>

    </div>

    <div class="col-md-2"></div>
</div>