@model IEnumerable<MVCForum.Website.ViewModels.ArticleCategoryNavViewModel>
@{
    // Antal nav elementer inden "Flere". Resten vil være i dropdown.
    const int amountBeforeDropdown = 9;
}
<section class="content-strip content-strip-@(User.Identity.IsAuthenticated.ToString().ToLower())">
    <div class="container sub-nav-container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    @foreach (var subCategory in Model.OrderBy(x => x.SortOrder == 0).ThenBy(x => x.SortOrder).Take(amountBeforeDropdown))
                    {
                        <li><a href="@Url.Action("Category", new {slug = subCategory.Slug })" class="button"><span>@subCategory.Name</span></a></li>
                    }
                    @if (Model.OrderBy(x => x.SortOrder == 0).ThenBy(x => x.SortOrder).Skip(amountBeforeDropdown).Any())
                    {
                        <li>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Flere..
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    @foreach (var subCategory in Model.OrderBy(x => x.SortOrder == 0).ThenBy(x => x.SortOrder).Skip(amountBeforeDropdown))
                                    {
                                        <a href="@Url.Action("Category", new {slug = subCategory.Slug})" class="dropdown-item">@subCategory.Name</a>
                                    }
                                </div>
                            </div>
</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>


