@model IEnumerable<MVCForum.Website.ViewModels.ArticleSearchViewModel>

@foreach (var a in Model)
{
    <li class="search-result">
        <h4 class="search-result-title">@Html.ActionLink(a.Header, "Show", new {slug = a.Slug})</h4>
        <ul class="search-result-undertext">
            <li>@a.UserName - </li>

            @{
                var timeAgo = (DateTime.Now - a.PublishDate);
            }
            @if (timeAgo.Days > 0)
            {
                <li>
                    @timeAgo.Days dage siden
                </li>
            }
            else
            {
                <li>
                    @timeAgo.Hours timer siden
                </li>
            }
        </ul>
    </li>
    <br/>
}