@model MVCForum.Domain.DomainModel.CMS.Article

@{
    ViewBag.Title = "Nyhed";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}




<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6" style="overflow-wrap: break-word; overflow: hidden">
        <div style="">
            <h1>@Html.DisplayFor(model => model.Header)</h1>
            <p class="shentox"> Skrevet den: @Html.DisplayFor(model => model.CreateDate), af: @Html.DisplayFor(model => model.User.UserName) </p>




            @Html.Raw(Model.Body)

            <br/>


            @{ Html.RenderPartial("_Comments", Model.Comments);  }

            @{ Html.RenderAction("_Comment", Model);  }

        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>



