@model MVCForum.Website.ViewModels.ArticleSectionViewModel
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="content-strip content-strip-@(User.Identity.IsAuthenticated.ToString().ToLower())">
    <div class="container sub-nav-container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    @Html.Action("_SubCategories", new { id = 2 })
                </ul>
            </div>
        </div>
    </div>
</section>


<br />
@Html.Partial("_ArticleSection", Model)

