/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.Tag{
    text-decoration:none;
    color:#838d9c

}

.Tag:hover{
    text-decoration:none;
    color:#b3b3b3

}



 /*Social media*/


 @charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'creativeverse_social';
  src: url('../font/creativeverse_social.eot?74606279');
  src: url('../font/creativeverse_social.eot?74606279#iefix') format('embedded-opentype'),
       url('../font/creativeverse_social.woff?74606279') format('woff'),
       url('../font/creativeverse_social.ttf?74606279') format('truetype'),
       url('../font/creativeverse_social.svg?74606279#creativeverse_social') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "creativeverse_social";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 .cv-social-media {
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
}

.cv-social-media li {
	width:47px;
	height:40px;
	display:inline-block;
	font-size:26px;
	background:#CCC;
	float:left;
	padding:8px 0px 0px 4px;
	margin:0px 0px 0px 1px;
}

.cv-social-media a {
	display:block;
	width:100%;
	height:100%;
	margin:0px 10px 0px 0px;
	color:#FFF;
	
		-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
			
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.cv-social-media a:hover {
	display:block;
	
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	
			-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
			
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}


#facebook {
	background:#3b5998;
}

#twitter {
	background:#00a0d1;
}

#gplus {
	background:#f00;
}

 
.icon-delicious:before { content: '\e811'; } /* '' */
.icon-smashmag:before { content: '\e812'; } /* '' */
.icon-stumbleupon:before { content: '\e813'; } /* '' */
.icon-digg:before { content: '\e80f'; } /* '' */
.icon-reddit:before { content: '\e810'; } /* '' */
.icon-yahoo:before { content: '\e814'; } /* '' */
.icon-email:before { content: '\e815'; } /* '' */
.icon-statusnet:before { content: '\e816'; } /* '' */
.icon-stackoverflow:before { content: '\e817'; } /* '' */
.icon-flickr:before { content: '\e80a'; } /* '' */
.icon-lastfm:before { content: '\e80b'; } /* '' */
.icon-pinterest:before { content: '\e80c'; } /* '' */
.icon-vimeo:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-rss:before { content: '\e800'; } /* '' */
.icon-pinterest-circled:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e809'; } /* '' */
.icon-dropbox:before { content: '\e804'; } /* '' */
.icon-tumblr:before { content: '\e807'; } /* '' */
.icon-dribbble:before { content: '\e803'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-deviantart:before { content: '\e80e'; } /* '' */

