#keyword {
    border: none;
    font-size: 48px;
    line-height: 56px;
    color: #000000
}

#searchResult {
    flex: 1;
    max-width: 640px;
    overflow: auto;
    
}

.search-result {
    list-style: none;
}

.search-result-title {
    font-size: 23px;
    a {
        color: darkgrey;
        font-weight: 800;
        &:hover{
            color: #ff0000;
            text-decoration:none;
        }
    }
}

.search-result-undertext {
    list-style: none;

    li {
        float: left;
        font-size: smaller;
        color:darkgrey;
    }
}
