
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h2>Velkommen "Brugernavn" </h2>


<p>Brugere</p>
<p>Admins</p>
<p>indsæt loop af admins her</p>
<p>Skribenter</p>
<p>indsæt loop af skribenter her</p>

