<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tweakbeta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tweakbeta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tweakbeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tweakbeta</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MVCForumContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tweakbetadbserver.database.windows.net,1433;Initial Catalog=tweakbeta_db;Persist Security Info=True;User ID=tweakbeta@tweakbetadbserver;Password=CPYxjmeIRUr4;Application Name=EntityFramework" Name="Data Source=tcp:tweakbetadbserver.database.windows.net,1433;initial catalog=tweakbeta_db;persist security info=True;user id=tweakbeta@tweakbetadbserver;Password=CPYxjmeIRUr4;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCForum.Services.Data.Context.MVCForumContext, MVCForum.Services" MigrationConfiguration="MVCForum.Services.Migrations.Configuration, MVCForum.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MVCForumContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tweakbetadbserver.database.windows.net,1433;initial catalog=tweakbeta_db;persist security info=True;user id=tweakbeta@tweakbetadbserver;Password=CPYxjmeIRUr4;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>