
<div class="row documentation-message">
    <div class="col-md-6">

        <div class="panel panel-mvc">
            <div class="panel-heading">Velkommen</div>
            <div class="panel-body">
                <p>Velkommen til Tweak.dk's forum</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="panel panel-mvc">
            <div class="panel-heading">Regler</div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
