@model MVCForum.Website.ViewModels.AdViewModel



@if (!Context.IsMobileDevice())
{
    <div style="position:relative; left: 25%;">
        <iframe id='ab31b083' name='ab31b083' src='http://www.tweak.dk/reklamer/www/delivery/afr.php?zoneid=+@Model.zone&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='@Model.width' height='@Model.height'><a href='http://www.tweak.dk/reklamer/www/delivery/ck.php?n=a9940147&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank' rel='nofollow'><img src='http://www.tweak.dk/reklamer/www/delivery/avw.php?zoneid=@Model.zone&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a9940147' border='0' alt='' /></a></iframe>
    </div>
}
